.content {
    margin: auto;
    max-width: 960px;
}

.title {
    font-size: 3em;
    text-decoration: none;
    text-align: center;
}

#table-of-contents h2 {
    font-size: 2em;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

.navigation {
    text-align: center;
}

.navigation p {
    color: #87B38D;
    display: inline;
    padding: 1em;
}

.navigation a {
    color: #444;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.1em;
}

.navigation a:hover {
    color: #355070;
}

.navigation a:active {
    color: #87B38D;
}

#echo {
    color: #111;
    background-color: #aeffdeff;
    padding: 1em;
    font-size: 1.2em;
    width: 100%
}

#cmdline {
    padding: 1em;
    font-family: Iosevka, 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 1.2em;
    width: 100%;
}

.note {
    background-color: #f0f7fb;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border: solid 1px #3498db;
    border-radius: 3px;
    line-height: 16px;
    overflow: hidden;
    padding: 20px 50px 10px 50px;
    font-size: 90%;
}

.note:before {
    content: "Note";
    font-weight: bold;
}

.warning {
    background-color: #f0f7fb;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border: solid 1px #fd1111;
    border-radius: 3px;
    line-height: 16px;
    overflow: hidden;
    padding: 20px 50px 10px 50px;
}

.warning:before {
    content: "Warning";
    font-weight: bold;
}

.tip {
    background-color: #f0f7fb;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border: solid 1px #94fe66;
    border-radius: 3px;
    line-height: 16px;
    overflow: hidden;
    padding: 20px 50px 10px 50px;
}

.tip:before {
    content: "Tip";
    font-weight: bold;
}

img {
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
}

img[src*="#camlogo"] {
    height:1em;
    vertical-align: middle;
    padding: 0.2em;
}

img[src*="#oxlogo"] {
    height:1.1em;
    vertical-align: middle;
    padding: 0.15em 0em;
}

img[src*="#qmlogo"] {
    height:1.8em;
    vertical-align: middle;
    padding: 0em 0.1em;
}

.rightside {
    text-align: right;
}

.authorlist {
    font-size: 0.8em;
}

.synonym {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #355070;
}

.synonym .synonymtext {
    visibility: hidden;
    width: 300px;
    background-color: #355070;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -150px;
}

.synonym .synonymtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.synonym:hover .synonymtext {
    visibility: visible;
}

.right p {
    text-align: right;
}

div.column{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF8DC;
    border: 1px solid #ffeb8e;
    border-radius: 3px;
    display: block;
    font-style: italic;
    font-size: 90%;
}

.example {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #DCF8FF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    display: block;
    font-style: italic;
    font-size: 90%;
}

.subtitle {
    font-size: 0.8em;
    color: #355070;
}

pre.src {
    font-size: 90%;
    background-color: #F3F7F3;
    margin-left: 0em;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

.results {
    font-size: 90%;
    background-color: #FFF0F0;
    font-family: Iosevka, "Source Code Pro", monospace;
    padding: 0.2em 0.2em 0.2em 0.4em;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    overflow-x: scroll;
}

code {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    background-color: #F3F7F3;
    overflow-x: scroll;
}

/* .MJX-TEX { */
/*     border: 1px solid #E0E0E0; */
/*     border-radius: 3px; */
/*     background-color: #F3F7F3; */
/*     overflow-x: scroll; */
/*     padding: 0.25em 0.25em 0.25em 0.25em; */
/* } */

a {
    color: #F61067;
}

a:hover {
    color: #355070;
}

footer {
    color: #aaaaaa;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 90%;
}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    color: grey;
}
